In [39]:
import numpy as np
import pandas as pd

In [40]:
hs = pd.read_csv('C:/Users/manik/Downloads/HomesForSale.csv')
hs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   State   120 non-null    object
 1   Price   120 non-null    int64
 2   Size    120 non-null    int64
 3   Beds    120 non-null    int64
 4   Baths   120 non-null    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 4.8+ KB

In [41]:
hs1=pd.read_csv('C:/Users/manik/OneDrive/Desktop/sales.csv')
hs1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datesold      120 non-null    object
 1   postcode      120 non-null    int64
 2   propertyType  120 non-null    object
 3   Beds          120 non-null    int64
dtypes: int64(2), object(2)
memory usage: 3.9+ KB

In [42]:
new_column = ((hs['Size']*0.111))
hs.insert(3, 'Size in Yards', new_column)

In [43]:
hs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          120 non-null    object
 1   Price          120 non-null    int64
 2   Size           120 non-null    int64
 3   Size in Yards  120 non-null    float64
 4   Beds           120 non-null    int64
 5   Baths          120 non-null    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 5.8+ KB

In [44]:
new_column2 = ((hs['Price']/hs['Size']))
hs.insert(3, 'Price per sq.foot', new_column2)

In [45]:
hs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              120 non-null    object
 1   Price              120 non-null    int64
 2   Size               120 non-null    int64
 3   Price per sq.foot  120 non-null    float64
 4   Size in Yards      120 non-null    float64
 5   Beds               120 non-null    int64
 6   Baths              120 non-null    float64
dtypes: float64(3), int64(3), object(1)
memory usage: 6.7+ KB

In [46]:
new_column3 = ((hs['Price']/hs['Size in Yards']))
hs.insert(5, 'Price per sq.yards', new_column3)

In [47]:
hs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               120 non-null    object
 1   Price               120 non-null    int64
 2   Size                120 non-null    int64
 3   Price per sq.foot   120 non-null    float64
 4   Size in Yards       120 non-null    float64
 5   Price per sq.yards  120 non-null    float64
 6   Beds                120 non-null    int64
 7   Baths               120 non-null    float64
dtypes: float64(4), int64(3), object(1)
memory usage: 7.6+ KB

In [48]:
new_column4 = ((hs['Beds']+hs['Baths']))
hs.insert(8, 'Total Rooms', new_column4)

In [49]:
hs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               120 non-null    object
 1   Price               120 non-null    int64
 2   Size                120 non-null    int64
 3   Price per sq.foot   120 non-null    float64
 4   Size in Yards       120 non-null    float64
 5   Price per sq.yards  120 non-null    float64
 6   Beds                120 non-null    int64
 7   Baths               120 non-null    float64
 8   Total Rooms         120 non-null    float64
dtypes: float64(5), int64(3), object(1)
memory usage: 8.6+ KB

In [50]:
hs.head(20)

,State,Price,Size,Price per sq.foot,Size in Yards,Price per sq.yards,Beds,Baths,Total Rooms
0,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5
1,CA,610,2008,0.303785,222.888,2.736801,3,2.0,5.0
2,CA,899,2380,0.377731,264.180,3.402983,5,3.0,8.0
3,CA,929,1868,0.497323,207.348,4.480390,3,3.0,6.0
4,CA,210,1360,0.154412,150.960,1.391097,2,2.0,4.0
5,CA,268,2131,0.125763,236.541,1.132996,3,2.0,5.0
6,CA,1095,2436,0.449507,270.396,4.049616,3,2.0,5.0
7,CA,699,1375,0.508364,152.625,4.579853,2,1.0,3.0
8,CA,729,2013,0.362146,223.443,3.262577,3,4.0,7.0
9,CA,700,1371,0.510576,152.181,4.599786,3,2.0,5.0
10,CA,145,1440,0.100694,159.840,0.907157,3,2.0,5.0
11,CA,469,2286,0.205162,253.746,1.848305,3,3.0,6.0
12,CA,610,2008,0.303785,222.888,2.736801,3,2.0,5.0
13,CA,841,2474,0.339935,274.614,3.062480,3,3.5,6.5
14,CA,300,1464,0.204918,162.504,1.846108,3,3.0,6.0
15,CA,285,1419,0.200846,157.509,1.809420,3,2.0,5.0
16,CA,640,1440,0.444444,159.840,4.004004,3,2.0,5.0
17,CA,929,2479,0.374748,275.169,3.376107,4,3.0,7.0
18,CA,714,2191,0.325879,243.201,2.935843,4,3.0,7.0
19,CA,559,1309,0.427044,145.299,3.847239,3,2.0,5.0

In [55]:
merge=pd.merge(hs,hs1)
merge.head(20)

,State,Price,Size,Price per sq.foot,Size in Yards,Price per sq.yards,Beds,Baths,Total Rooms,datesold,postcode,propertyType
0,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,2/7/2007 0:00,2607,house
1,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,2/27/2007 0:00,2906,house
2,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,3/9/2007 0:00,2905,house
3,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,4/4/2007 0:00,2905,house
4,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,4/24/2007 0:00,2607,house
5,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,5/24/2007 0:00,2902,house
6,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,5/25/2007 0:00,2906,house
7,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,6/26/2007 0:00,2902,house
8,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,6/27/2007 0:00,2906,house
9,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,6/27/2007 0:00,2612,house
10,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,6/28/2007 0:00,2904,house
11,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,6/30/2007 0:00,2615,house
12,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,7/2/2007 0:00,2914,house
13,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,7/3/2007 0:00,2906,house
14,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,7/8/2007 0:00,2600,house
15,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,7/12/2007 0:00,2602,house
16,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,7/18/2007 0:00,2602,house
17,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,7/20/2007 0:00,2605,house
18,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,7/20/2007 0:00,2904,house
19,CA,533,1589,0.335431,176.379,3.021902,3,2.5,5.5,7/21/2007 0:00,2603,house

In [56]:
merge.to_csv('C:/Users/manik/Downloads/New1_HomesForSale.csv')